@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: beige;
    font-family: 'Philosopher', sans-serif;
    text-align: center;
}

link {

}

title {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8% 0; /* we want 8% on the margins */
}

main_body {

}

h1{
    font-family: 'Philosopher', sans-serif;
    font-size: calc(50px + 0.5vw); /* Text size increases as viewport width increases */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Shadow effect */
    color: rgb(100, 50, 150);

}
.container {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-width: 90%;
    border-radius: 10%;
    padding: 20px;
    background:#ded5e3;
    box-sizing: border-box;
}

.big-container {
    margin-top: 40px;
    width: auto;
    height: 100%;
    border-style: solid;
    border-color: purple;
    border-width: 5px;
}

.picture-container {
    margin-bottom: 20px;
    width: auto;
    height: 100%;
    border-style: solid;
    border-color: green;
    border-width: 5px;
}

.button {
    margin-top: 20px;
}

.side-by-side-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.side-container {
    width: calc(50% - 10px);
}

.bottom-container {
    margin-top: 40px;
}

