@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Lilita+One&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #ded5e3;
    font-family: 'Agbalumo', sans-serif;
    text-align: center;
}

link {

}

title {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main_body {

}

h1{
    font-family: 'Agbalumo', sans-serif;
    font-size: calc(50px + 0.5vw); /* Text size increases as viewport width increases */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Shadow effect */


}
.container {
    margin: 0 auto;
    height: 90%;
    width: 80%;
    border-radius: 1vw;
    padding: 15px 10px;
    background:#ded5e3;
    box-sizing: border-box;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.5); /* Light shadow */
    position: relative;
}

.big-container {
    margin-top: 2px;
    width: auto;
    height: 100%;
    border-radius: 1vw;
    border-style: solid;
    border-color: purple;
    border-width: 5px;
}

.picture-container {
    margin-bottom: 20px;
    width: 60%;
    height: auto;
    border-style: solid;
    border-color: green;
    border-width: 5px;
}

.button {
    margin-top: 20px;
    padding-bottom: 5%;
}

.side-by-side-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.side-container {
    width: calc(45% - 10px); /* Adjusted width calculation */
    
    background-color: aliceblue;
    border-radius: 1vw;
}

.bottom-container {
    margin-top: 40px;
}

